@{
    ViewData["Title"] = "Dettagli viaggio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model PacchettoViaggio

<div class="container show-container">
    <img src="@Model.Immagine" class="card-img-top" alt="Immagine pacchetto viaggio">

    <div class="travel-feature d-flex justify-content-between">

        <div class="travel-description">
           <h3><strong>@Model.Titolo</strong></h3>
           <p><strong>Località:</strong> @Model.Localita</p>
           <p><strong>Descrizione:</strong> @Model.Descrizione</p>
           <p><strong>Prezzo:</strong> @Model.Prezzo&euro;</p>
           <p><strong>Messaggi:</strong></p>
           @if (Model.Messaggi.Count == 0)
           {
               <ul>
                   <li>Nessun messaggio</li>
               </ul>
           }
           else
           {
                @foreach (Messaggio messaggio in Model.Messaggi)
                {
                    <ul>
                        <li>Email: @messaggio.Email</li>
                        <ul>
                            <li>Testo: @messaggio.Testo</li>
                        </ul>
                    </ul>
                }
           }
           
        </div>

        <div class="actions">
            <a href="@Url.Action("Edit", "PacchettoViaggio", new {id = Model.Id})" class="btn btn-primary my-3">Modifica</a>
            <form asp-controller="PacchettoViaggio" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger">Elimina</button>
            </form>
        </div>
        
    </div>
    
</div>

